@font-face {
  font-family: "Avenir LT Pro";
  font-style: black;
  font-weight: 750;
  font-display: swap;
  src: local("Avenir LT Pro Black"),
    url("/AvenirLTProBlack.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir LT Pro";
  font-style: medium;
  font-weight: 400;
  font-display: swap;
  src: local("Avenir LT Pro"), url("/AvenirLTPro.woff2") format("woff2");
}
@font-face {
  font-family: "Against";
  font-style: normal;
  font-weight: 400;
  src: local("Against"), url("/Against.woff2") format("woff2");
}
